<!DOCTYPE html>
<html>
   <head>
      <meta charset="UTF-8">
      <title>{{title}}</title>
      <link rel="stylesheet" href="static/reset.css">
      <link rel="shortcut icon" href="static/favicon.ico">
      <style>
         .container {
         max-width: 32rem!important;
         margin-left: auto!important;
         margin-right: auto!important;
         margin-bottom: 50px!important;
         }
      </style>
   </head>
   <body>
      <div class="container" style="margin-top:130px">
         <div id="player" class="aplayer"></div>
      </div>
      <script src="static/APlayer.min.js"></script>
      <script>
         var ap = new APlayer({
             element: document.getElementById('player'),
             narrow: false,
             autoplay: true,
             showlrc: {{showlrc}},
             mutex: true,
             theme: '#42b983',
             {% if song_id == None %}
             music: [
                 {% for song_info in songs_info %}
                 {
                     title: '{{ song_info["title"] }}',
                     author: '{{song_info["artist"]}}',
                     url: '{{song_info["url_best"]}}',
                     pic: '{{song_info["pic_url"]}}',
                     lrc: '{{ song_info["lyric"] }}',
                 },
                 {% endfor %}
             ]
             {% else %}
             music: {
                     title: '{{ songs_info[0]["title"] }}',
                     author: '{{songs_info[0]["artist"]}}',
                     url: '{{songs_info[0]["url_best"]}}',
                     pic: '{{songs_info[0]["pic_url"]}}',
                     lrc: '{{ songs_info[0]["lyric"] }}',
                 }
              {% endif %}
         });
      </script>
   </body>
</html>
