<!DOCTYPE html>
<html>
   <head>
      <meta charset="UTF-8">
      <title>{{title}}</title>
      <link rel="shortcut icon" href="static/favicon.ico">
      <link rel="stylesheet" href="static/reset.css">
      <style type="text/css">
        .aplayer-list{
        height:{{height}};
        }
        .container {
        max-width: {{max_width}};
        }
      </style>
   </head>
   <body>
      <div class="container">
         <div id="player" class="aplayer"></div>
      </div>
      <script src="static/APlayer.js"></script>
      <script>
         var ap = new APlayer({
             element: document.getElementById('player'),
             narrow: {{qnarrow}},
             autoplay: {{autoplay}},
             showlrc: {{showlrc}},
             mutex: true,
             theme: '{{color}}',
              {% if song_id == None %}
             music: [
                 {% for song_info in songs_info %}
                 {
                     title: '{{ song_info["title"] }}',
                     author: '{{song_info["artist"]}}',
                     url: '{{song_info["url_best"]}}',
                     pic: '{{song_info["pic_url"]}}',
                     lrc: '{{ song_info["lyric"] }}',
                     album_name: '{{song_info["album_name"]}}',
                 },
                 {% endfor %}
             ]
             {% else %}
             music: {
                     title: '{{ songs_info[0]["title"] }}',
                     author: '{{songs_info[0]["artist"]}}',
                     url: '{{songs_info[0]["url_best"]}}',
                     pic: '{{songs_info[0]["pic_url"]}}',
                     lrc: '{{ songs_info[0]["lyric"] }}',
                     album_name: '{{songs_info[0]["album_name"]}}',
                 }
              {% endif %}

         });
      </script>
   </body>
</html>